<h1>
  Translation Request #<%= @translation.id %>
  <small class="text-muted">
    Priority: <%= @translation.priority.name %>
    <a href="#" data-toggle="modal" data-target="#translation-notes" class="text-success">
      <i class="fa fa-sticky-note<%= "-o" unless @translation.notes.present? %>"></i>
    </a>
  </small>
</h1>

<% if @translation.duplicate_of.present? %>
  <h3 class="text-muted">
    <small>Duplicate of <%= link_to "##{@translation.duplicate_of_id}", translation_path(@translation.duplicate_of) %></small>
  </h3>
<% end %>

<p><%= link_to 'Back to translations list', translations_path %></p>

<p><strong><%= @translation.requester.username %></strong> requests the translation of the following item, from
  <%= @translation.source_lang.name %> to <%= @translation.target_lang.name %>:</p>

<% unless @translation.content.nil? %>
<div class="card border-secondary mb-2">
  <div class="card-header border-secondary">
    <strong><%= @translation.source_lang.name %></strong>
  </div>
  <div class="card-body">
    <% if uri? @translation.content %>
        <%= link_to @translation.content, @translation.content %>
    <% else %>
        <%= raw(sanitize(@translation.content).gsub "\n", '<br/>') %>
    <% end %>
  </div>
</div>
<% end %>

<% unless @translation.final.nil? %>
<div class="card border-secondary mb-2">
  <div class="card-header border-secondary">
    <strong><%= @translation.target_lang.name %></strong>
  </div>
  <div class="card-body">
    <% if uri? @translation.final %>
        <%= link_to @translation.final, @translation.final %>
    <% else %>
        <%= raw(sanitize(@translation.final).gsub "\n", '<br/>') %>
    <% end %>
  </div>
</div>
<% end %>

<p>The finished translation is needed by <strong><%= @translation.deliver_to %></strong>
  by <%= @translation.due&.strftime("%H:%M UTC %d %b %Y") %>.</p>

<p>
  <strong>Status:</strong> <%= @translation.status.name %><br/>
  <strong>Assigned to:</strong> <%= @translation.assignee&.username || 'Unassigned' %><br/>
  <%= link_to 'Edit', edit_translation_path(@translation) %>
  <% unless @translation.status == Translations::Status['Completed'] %>
  | <%= link_to 'Accept', update_translation_status_path(@translation, status_id: Translations::Status['Accepted'].id),
              class: 'text-success', method: :post %>
  | <%= link_to 'Accept & Translate', update_translation_status_path(@translation, status_id: Translations::Status['Assigned'].id, translate: 1),
              class: 'text-success', method: :post %>
  | <%= link_to 'Reject', update_translation_status_path(@translation, status_id: Translations::Status['Rejected'].id),
              class: 'text-danger', method: :post %>
  <% end %>
</p>

<p>
  <%= link_to 'Duplicate request?', deduplicate_translation_path(@translation) %>
</p>

<div class="modal translation-notes" tabindex="-1" role="dialog" id="translation-notes">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes for #<%= @translation.id %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= raw(sanitize(@translation.notes)&.gsub("\n", "<br/>")) %></p>
        <%= link_to 'Edit', translation_notes_path(@translation) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
