<h1>Translate Request #<%= @translation.id %></h1>
<div class="card border-secondary mb-2">
  <div class="card-header border-secondary">
    <strong>Content</strong>
  </div>
  <div class="card-body">
    <% if uri? @translation.content %>
        <%= link_to @translation.content, @translation.content %>
    <% else %>
        <%= raw(sanitize(@translation.content).gsub "\n", '<br/>') %>
    <% end %>
  </div>
</div>

<%= form_tag complete_translation_path(@translation) do %>
  <div class="field">
    <%= label_tag :final do %>
      Translation <small class="text-muted">Your translation. Either raw translated text, or a link to where the translation can be found.</small>
    <% end %><br/>
    <%= text_area_tag :final, @translation.final, rows: 5, cols: 100, class: 'form-control' %>
  </div><br/>

  <div class="actions">
    <%= submit_tag 'Submit Translation', name: nil, class: 'btn btn-success' %>
  </div>
<% end %>
