<h1>New Contact Attempt for Request #<%= @request.disaster_id %>-<%= @request.incident_number %></h1>
<p>You are creating a contact attempt for request #RQ<%= @request.id %> (<%= @request.name %>).</p>

<%= render 'form', url: create_contact_attempt_path(request_id: @request.id) %>
