<h2>Forgot your password?</h2>

<p>If you've forgotten your password, please ping one of the administrators in Slack. They will be able to either manually grant you a password reset or contact someone who has the power to do so.</p>

<!--
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
