<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-muted">ID</th>
    <th>Content</th>
    <th>Origin Date</th>
    <th>Municipality</th>
    <th>Source</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |i| %>
      <tr>
        <td class="text-muted"><%= i.id %></td>
        <td><%= i.content.first(100).length == 100 ? i.content.first(100) + '...' : i.content.first(100) %></td>
        <td><%= i.originated_at.strftime("%H:%M %d %b %Y") %></td>
        <td><%= i.municipality&.name %></td>
        <td><%= uri?(i.source) ? link_to(URI.parse(i.source).host, i.source) : i.source %></td>
        <td><%= link_to raw("#{'<i class="fa fa-star"></i>' unless i.translation.present?} Add translation"), translate_broadcast_item_path(i) %></td>
        <td><%= link_to raw('<i class="fa fa-times fa-2x" style="color:darkred;"></i>
'), deprecate_broadcast_item_path(i), method: :post, class: 'text-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script src="https://use.fontawesome.com/4cf802a098.js"></script>
