<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-muted">ID</th>
    <th>Content</th>
    <th>Origin Date</th>
    <th>Municipality</th>
    <th>Source</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |i| %>
      <tr>
        <td class="text-muted"><%= i.id %></td>
        <% translation = i.translations.first&.content || i.translations.first&.final || '' %>
        <td><%= translation.first(100).length == 100 ? translation.first(100) + '...' : translation.first(100) %></td>
        <td><%= i.originated_at.strftime("%H:%M %d %b %Y") %></td>
        <td><%= i.municipality&.name %></td>
        <td><%= uri?(i.source) ? link_to(URI.parse(i.source).host, i.source) : i.source %></td>
        <td>
          <%= link_to translation_path(i.translations.first.id) do %>
            <% unless i.translations.first.content.present? && i.translations.first.final.present? %>
              <i class="fa fa-star"></i>
            <% end %>
            Add translation
          <% end %>
        </td>
        <td>
          <%= link_to deprecate_broadcast_item_path(i), method: :post, class: 'text-danger' do %>
            <i class="fa fa-times text-danger"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
