<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-muted">ID</th>
    <th>Content</th>
    <th>Origin Date</th>
    <th>Municipality</th>
    <th>Source</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td class="text-muted"><%= i.id %></td>
        <% translation = i.translations.first&.content || i.translations.first&.final || '' %>
        <td><%= translation.first(100).length == 100 ? translation.first(100) + '...' : translation.first(100) %></td>
        <td><%= i.originated_at.strftime("%H:%M %d %b %Y") %></td>
        <td><%= i.municipality&.name %></td>
        <td><%= uri?(i.source) ? link_to(URI.parse(i.source).host, i.source) : i.source %></td>
        <td>
          <%= link_to translation_path(i.translations.first.id) do %>
            <% unless i.translations.first.content.present? && i.translations.first.final.present? %>
              <i class="fa fa-star"></i>
            <% end %>
            Add translation
          <% end %>
        </td>
        <td>
          <%= link_to deprecate_broadcast_item_path(i), method: :post, class: 'section-del-link mx-1' do %>
            <i class="fa fa-times text-danger"></i>
          <% end %>
          <%= link_to edit_broadcast_item_path(i), method: :get, class: 'section-edit-link mx-2' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <a href="#" role="button" class="text-success" data-toggle="modal" data-target="#notes-<%= i.id %>">
            <i class="fa fa-sticky-note<%= "-o" unless i.notes.present? %>"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
  <div class="modals">
    <% @items.each do |i| %>
      <div class="modal" tabindex="-1" role="dialog" id="notes-<%= i.id %>">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Notes for #<%= i.id %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= raw(sanitize(i.notes).to_s.gsub "\n", '<br/>') %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</table>
