<div class="col-md-4 mx-auto">
  <div class="card border-success mb-4">
    <div class="card-body">
      <h3 class="mx-auto text-success text-center">Success!</h3>
      <div class="mx-auto text-center">
        <% unless params[:t].present? %>
          <%= link_to 'Edit', edit_broadcast_item_path(@item), class: 'btn btn-outline-secondary mx-3' %>
        <% end %>
        <%= link_to '+ Add another item', new_broadcast_item_path, class: 'btn btn-success mx-3' %>
        <% if params[:tn].present? %>
          <br/><br/><%= link_to 'Back to translations list', translatable_broadcast_items_path %>
        <% end %>
        <% if params[:sc].present? %>
          <br/><br/><%= link_to 'Back to script',
                                broadcast_script_path(**params[:sc].permit(:name, :min_origin, :max_general, :max_muni).to_h.symbolize_keys) \
                                + '#' + params[:h].to_s %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @panda.present? %>
    <%= image_tag @panda, width: '100%' %>
  <% end %>
</div>
