<h1>Edit Broadcast Item</h1>

<%= form_for @item, url: update_broadcast_item_path(@item) do |f| %>
  <% if @item.errors.any? %>
    <div class="card border-danger">
      <div class="card-body">
        <p>There were some errors while trying to save your item:</p>
        <ul>
          <% @item.errors.full_messages.each do |m| %>
            <li><%= m %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if params[:script].present? %>
    <% params[:script].each do |n, v| %>
      <%= f.hidden_field "script[#{n}]", value: v %>
    <% end %>
  <% end %>

  <h2>Original Item</h2>
  <table class="table">
    <tr>
      <td>ID: <%= @item.id %></td>
      <td>Origin Date: <%= @item.originated_at.iso8601 %></td>
      <td>Last Edit Date: <%= @item.updated_at.iso8601 %></td>
      <td>Source: <%= @item.source %></td>
      <td>Municipality: <%= @item.municipality ? @item.municipality.name : "General" %></td>
    </tr>
  </table>

  <% translation = @item.translations.first %>

  <div class="card border-secondary mb-2">
    <div class="card-header border-secondary">
      <strong><%= translation.source_lang.name %></strong>
    </div>
    <div class="card-body">
      <% if uri? translation.content %>
        <%= link_to translation.content, translation.content %>
      <% else %>
        <%= raw(sanitize(translation.content).to_s.gsub "\n", '<br/>') %>
      <% end %>
    </div>
  </div>

  <div class="card border-secondary mb-2">
    <div class="card-header border-secondary">
      <strong><%= translation.target_lang.name %></strong>
    </div>
    <div class="card-body">
      <% if uri? translation.final %>
        <%= link_to translation.final, translation.final %>
      <% else %>
        <%= raw(sanitize(translation.final).to_s.gsub "\n", '<br/>') %>
      <% end %>
    </div>
  </div>

  <h2>Modifications</h2>

  <div class="field">
    <%= label_tag 'translation[content]', "Source Language: #{translation.source_lang.name}" %><br/>
    <%= text_area_tag 'translation[content]', translation.content, rows: 5, cols: 100, class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= label_tag 'translation[final]', "Target Language: #{translation.target_lang.name}" %>
    <%= text_area_tag 'translation[final]', translation.final, rows: 5, cols: 100, class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= label_tag 'translation[source_lang_id]' do %>
      Source Language <small class="text-muted">What language is the original text in?</small>
    <% end %><br/>
    <%= select_tag 'translation[source_lang_id]', options_from_collection_for_select(Translations::Language.all, 'id', 'name', translation.source_lang_id.to_i),
                 include_blank: true, class: 'form-control select2' %>
  </div><br/>

  <div class="field">
    <%= label_tag 'translation[target_lang_id]' do %>
      Target Language <small class="text-muted">What language do you need this translated into?</small>
    <% end %><br/>
    <%= select_tag 'translation[target_lang_id]', options_from_collection_for_select(Translations::Language.all, 'id', 'name', selected: translation.target_lang_id),
                 include_blank: true, class: 'form-control select2' %>
  </div><br/>

  <div class="field">
    <%= f.label :source do %>
      Source <small class="text-muted">Optional. If you know the source of your information, enter it here.</small>
    <% end %><br/>
    <%= f.text_field :source, class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= f.label :originated_at do %>
      Date <small class="text-muted">Optional. If you know the date your information is from, enter it here.</small>
    <% end %><br/>
    <%= f.text_field :originated_at, value: (@item.originated_at || DateTime.now).iso8601, class: 'form-control datepicker' %>
   </div><br/>

  <div class="field">
    <%= f.label :broadcast_municipality_id do %>
      Municipality / Region <small class="text-muted">Optional. If your info relates to a specific municipality, select it here.</small>
    <% end %><br/>
    <%= f.select :broadcast_municipality_id, options_from_collection_for_select(Broadcast::Municipality.all, 'id', 'name',
                                                                                selected: @item.broadcast_municipality_id),
                 { include_blank: true }, class: 'form-control select2' %>
  </div><br/>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
    <input type="reset" class="btn btn-danger" value="Cancel" />
  </div>
<% end %>
