<div class="row clearfix">
  <div class="contents float-left mr-2 w-20">
    <div class="card border-primary">
      <div class="card-body">
        <h4>Contents</h4>
        <ul>
          <li><a href="#english_broadcast">English Broadcast</a></li>
          <ul>
            <li><a href="#general_interest">General Interest</a></li>
            <li><a href="#municipalities">Municipalities</a></li>
          </ul>
          <li><a href="#spanish_broadcast">Spanish Broadcast</a></li>
          <ul>
            <li><a href="#noticias_de_interés_general">Noticias de Interés General</a></li>
            <li><a href="#municipios">Municipios</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="document float-right ml-2 w-75">
    <% @broadcasts.each do |name, contents| %>
    <h2 id="<%= name %>_broadcast"><%= name.capitalize %> Broadcast</h2>

    <h3 id="<%= contents[:top][:header].parameterize.underscore %>"><%= contents[:top][:header] %></h3>
    <ul>
      <% contents[:top][:items].each do |item| %>
      <li data-id="<%= item[:id] %>">
        <span class='text-muted'>(ID <%= item[:id] %>)</span>
        <%= raw(sanitize(item[:body]).gsub("\n", '<br/>')) %>
        <% if user_signed_in? %>
        <a class="section-edit-link mx-2" href="/broadcast/items/<%= item[:id] %>/edit"><i class="fa fa-pencil"></i></a>
        <a class="section-del-link mx-1" href="/broadcast/items/<%= item[:id] %>/deprecate" data-method="post"><i class="fa fa-times text-danger"></i></a>
        <% end %>
      </li>
      <% end %>
    </ul>

    <h3 id="<%= contents[:general][:header].parameterize.underscore %>"><%= contents[:general][:header] %></h3>
    <ul>
      <% contents[:general][:items].each do |item| %>
      <li data-id="<%= item[:id] %>">
        <span class='text-muted'>(ID <%= item[:id] %>)</span>
        <strong><%= item[:originated_at].strftime('%e %b') %></strong>: <%= raw(sanitize(item[:body]).gsub("\n", '<br/>')) %>
        <% if user_signed_in? %>
        <a class="section-edit-link mx-2" href="/broadcast/items/<%= item[:id] %>/edit"><i class="fa fa-pencil"></i></a>
        <a class="section-del-link mx-1" href="/broadcast/items/<%= item[:id] %>/deprecate" data-method="post"><i class="fa fa-times text-danger"></i></a>
        <% end %>
      </li>
      <% end %>
    </ul>

    <h3 id="<%= contents[:municipalities][:header].parameterize.underscore %>"><%= contents[:municipalities][:header] %></h3>
    <% contents[:municipalities][:municipalities].each do |municipality| %>
    <h4 id="<%= "#{municipality[:name].downcase.tr(' ', '_')}_#{name.downcase[0...3]}" %>"><%= municipality[:name] %></h4>
    <ul>
      <% municipality[:items].each do |item| %>
      <li data-id="<%= item[:id] %>">
        <span class='text-muted'>(ID <%= item[:id] %>)</span>
        <strong><%= item[:originated_at].strftime('%e %b') %></strong>: <%= raw(sanitize(item[:body]).gsub("\n", '<br/>')) %>
        <% if user_signed_in? %>
        <a class="section-edit-link mx-2" href="/broadcast/items/<%= item[:id] %>/edit"><i class="fa fa-pencil"></i></a>
        <a class="section-del-link mx-1" href="/broadcast/items/<%= item[:id] %>/deprecate" data-method="post"><i class="fa fa-times text-danger"></i></a>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <h3 id="<%= contents[:bottom][:header].parameterize.underscore %>"><%= contents[:bottom][:header] %></h3>
    <ul>
      <% contents[:bottom][:items].each do |item| %>
      <li data-id="<%= item[:id] %>">
        <span class='text-muted'>(ID <%= item[:id] %>)</span>
        <%= raw(sanitize(item[:body]).gsub("\n", '<br/>')) %>
        <% if user_signed_in? %>
        <a class="section-edit-link mx-2" href="/broadcast/items/<%= item[:id] %>/edit"><i class="fa fa-pencil"></i></a>
        <a class="section-del-link mx-1" href="/broadcast/items/<%= item[:id] %>/deprecate" data-method="post"><i class="fa fa-times text-danger"></i></a>
        <% end %>
      </li>
      <% end %>
    </ul>

    <hr>
    <% end %>
  </div>
</div>
