<h1>Broadcast Items</h1>
<p>The following is a list of all items that have been entered for broadcast. They won't all necessarily be included in broadcast scripts.</p>
<p><%= link_to 'Generate Script', broadcast_script_setup_path, class: 'btn btn-primary mx-2' %>
  <%= link_to 'Items Needing Translations', translatable_broadcast_items_path %></p>
<%= render 'broadcast/items/table' %>

<div class="text-center">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to '+ Add item', new_broadcast_item_path %>
