<h1>Broadcast Items</h1>
<p>The following is a list of all items that have been entered for broadcast. They won't all necessarily be included in broadcast scripts.</p>

<p>
  <%= link_to '+ Add item', new_broadcast_item_path %>
  <%= link_to 'Generate Script', broadcast_script_setup_path, class: 'btn btn-primary mx-2' %>
  <div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle float-right mx-3" type="button" id="tools-menu-toggle" data-toggle="dropdown">
      Tools & Lists
    </button>
    <div class="dropdown-menu" aria-labelledby="tools-menu-toggle">
      <%= link_to 'Items awaiting review', review_broadcast_items_path, class: 'dropdown-item' %>
      <%= link_to 'Items awaiting translation', translations_path, class: 'dropdown-item' %>
      <%= link_to 'Last updates by municipality', municipality_updates_path, class: 'dropdown-item' %>
    </div>
  </div>
</p>

<%= form_tag broadcast_items_path, method: :get, class: 'my-2 form-inline clear-both' do %>
  <%= label_tag :id, "ID:" %>
  <%= number_field_tag :id, params[:id], class: 'form-control form-control-sm mx-2', style: 'width:4em;' %>
  <%= label_tag :municipality, "Municipality:" %>
  <%= select_tag :municipality, options_for_select(Broadcast::Municipality.all.map { |s| [s.name, s.id] }, params[:municipality]),
                 include_blank: true, class: 'form-control form-control-sm mx-2' %>
  <%= label_tag :match, 'Search term:' %>
  <%= text_field_tag :match, params[:match], class: 'form-control mx-4' %>
  <%= submit_tag 'Find!', class: 'btn btn-outline-primary btn-sm' %>
  <input type="reset" class="btn btn-outline-danger btn-sm ml-2" value="Cancel" />
<% end %>
<%= render 'broadcast/items/table' %>

<div class="text-center">
  <%= will_paginate @items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
