<h1>Broadcast Items</h1>
<p>The following is a list of all items that have been entered for broadcast. They won't all necessarily be included in broadcast scripts.</p>
<p class="mb-2"><%= link_to 'Generate Script', broadcast_script_setup_path, class: 'btn btn-primary mx-2' %>
  <%= link_to 'Items Needing Translations', translatable_broadcast_items_path %></p>
  <p><%= link_to '+ Add item', new_broadcast_item_path %></p>
<%= form_tag broadcast_items_path, method: :get, class: 'my-2 form-inline' do %>
  <%= label_tag :id, "ID:" %>
  <%= number_field_tag :id, params[:id], class: 'form-control form-control-sm mx-2', style: 'width:4em;' %>
  <%= label_tag :municipality, "Municipality:" %>
  <%= select_tag :municipality, options_for_select([nil]+Broadcast::Municipality.all.map { |s| [s.name, s.id] }, params[:municipality]), class: 'form-control form-control-sm mx-4' %>
  <%= submit_tag 'Find!', class: 'btn btn-outline-primary btn-sm' %>
<% end %>
<%= render 'broadcast/items/table' %>

<div class="text-center">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
</div>
