<!-- Crew Dispatch modal -->
<div class="modal" id="dispatch-crew-<%= request.id %>" data-request-id="<%= request.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Crew</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="align-items-center form-inline">
          <input type="checkbox" class="crew-medical crew-select-update" name="crew-medical" id="crew-medical-<%= request.id %>" />
          <label for="crew-medical-<%= request.id %>" class="ml-2 mr-4">Require medical?</label>
          <label for="crew-min-capacity-<%= request.id %>">Min. capacity: </label>
          <input type="number" name="crew-min-capacity" id="crew-min-capacity-<%= request.id %>"
                 class="form-control form-control-sm mx-2 number-sm crew-select-update crew-min-capacity" />
        </div>
        <%= form_tag cad_assign_crew_path(@disaster, request), method: :post, remote: true, class: 'mt-3 dispatch-crew-form' do %>
          <%= select_tag :crew_id, nil, include_blank: true,
                         class: 'form-control select2-cad-modal select2-cad-crew', id: "select2-cad-crew-#{request.id}" %>
          <%= submit_tag 'Dispatch', class: 'btn btn-success mt-2 float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Find Relief Center modal -->
<div class="modal relief-center" id="relief-center-<%= request.id %>" data-request-id="<%= request.id %>" data-ajax="/cad/resources.json">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Find Relief Center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select a relief center using the green map markers or the dropdown, and click Use to add it to the request.</p>
        <div class="cad-resource-map mb-3" data-center="<%= request.lat %>,<%= request.long %>"></div>
        <%= form_tag cad_add_resource_path(@disaster, request), method: :post, remote: true, class: 'mt-3 dispatch-resource-form' do %>
          <%= select_tag :resource_id, nil, include_blank: true,
                         class: 'form-control select2-cad-modal select2-cad-resource', id: "select2-cad-resource-#{request.id}" %>
          <%= submit_tag 'Use', class: 'btn btn-success mt-2 float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Find Rest Stop modal -->
<div class="modal rest-stop" id="rest-stop-<%= request.id %>" data-request-id="<%= request.id %>" data-ajax="/cad/resources/rest-stops">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Find Rest Stop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select a relief center using the green map markers or the dropdown, and click Use to add it to the request.</p>
        <div class="cad-resource-map mb-3" data-center="<%= request.lat %>,<%= request.long %>"></div>
        <%= form_tag cad_add_resource_path(@disaster, request), method: :post, remote: true, class: 'mt-3 dispatch-resource-form' do %>
          <%= select_tag :resource_id, nil, include_blank: true,
                         class: 'form-control select2-cad-modal select2-cad-resource', id: "select2-cad-resource-#{request.id}" %>
          <%= submit_tag 'Use', class: 'btn btn-success mt-2 float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Request details modal -->
<div class="modal request-details" id="details-<%= request.id %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active details-tab" data-toggle="tab" href="#details-tab-<%= request.id %>">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link medical-tab" data-toggle="tab" href="#medical-tab-<%= request.id %>">Medical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link notes-tab" data-toggle="tab" href="#notes-tab-<%= request.id %>">Notes</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="details-tab-<%= request.id %>">
            <%= render 'details_tables', request: request %>
          </div>
          <div class="tab-pane fade" id="medical-tab-<%= request.id %>">
            <p><%= request.medical_details %></p>
          </div>
          <div class="tab-pane fade" id="notes-tab-<%= request.id %>">
            <% request.case_notes.each do |cn| %>
              <%= render 'dispatch/case_notes/case_note', case_note: cn %>
            <% end %>
            <%= link_to 'New note', cad_new_case_note_path(request) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>