<% case request.status.name %>
<% when 'New', 'PendingDispatch' %>
  <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#dispatch-crew-<%= request.id %>">
    Dispatch Crew
  </button>
  <%= link_to 'Close Request', cad_close_request_path(@disaster, request), class: 'btn btn-danger close-request', method: :post,
              data: { confirm: 'Are you sure?' }, remote: true %>
<% when 'Dispatched' %>
  <%= link_to 'On Scene', cad_set_request_status_path(@disaster, request, status_id: Dispatch::RequestStatus['OnScene'].id),
              class: 'mr-2 btn btn-primary request-on-scene', method: :post, remote: true, data: { toggle: 'tooltip' },
              title: 'Mark requests On Scene once the assigned crew have arrived.' %>
  <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#relief-center-<%= request.id %>">
    Find Relief Center
  </button>
  <%= link_to 'Close Request', cad_close_request_path(@disaster, request), class: 'btn btn-danger close-request', method: :post,
              data: { confirm: 'Are you sure?' }, remote: true %>
<% when 'OnScene' %>
  <%= link_to 'Safe', cad_set_request_status_path(@disaster, request, status_id: Dispatch::RequestStatus['Safe'].id),
              class: 'mr-2 btn btn-primary request-safe', method: :post, remote: true, data: { toggle: 'tooltip' },
              title: 'Mark requests Safe once the crew and victims have arrived at a relief center.' %>
  <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#relief-center-<%= request.id %>">
    Find Relief Center
  </button>
  <%= link_to 'Close Request', cad_close_request_path(@disaster, request), class: 'btn btn-danger close-request', method: :post,
              data: { confirm: 'Are you sure?' }, remote: true %>
<% when 'Safe' %>
  <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#rest-stop-<%= request.id %>">
    Find Rest Stop
  </button>
  <%= link_to 'Close Request', cad_close_request_path(@disaster, request), class: 'btn btn-primary close-request', method: :post,
              data: { confirm: 'Are you sure?' }, remote: true %>
<% end %>
