<div class="col-sm-4 cad-panel" data-request-id="<%= request.id %>">
  <div class="card border-<%= request.request_priority.color_class %> mb-4">
    <div class="card-body">
      <h5>
        <%= link_to disaster_request_path(@disaster, request.incident_number), target: '_blank' do %>
          <span class="request-name"><%= request.name %></span>
        <% end %>
        <span class="text-muted">(#<%= request.id %>)</span>
        <i class="fa fa-fw fa-pulse fa-spinner request-spinner"></i>
      </h5>
      <h6 class="text-muted"><%= pluralize(request.people_count, 'person') %></h6>

      <div class="map" data-center="<%= request.lat %>,<%= request.long %>" data-marker-type="<%= request.request_status.marker_type %>"></div>
      <div class="map-coords"><%= request.lat %>&deg; N, <%= request.long %>&deg; E</div>

      <p class="statuses row">
        <span class="col-sm-6 text-center request-status" data-index="<%= request.request_status.index %>">
          <%= status_el request.request_status, 'strong' %>
        </span>
        <span class="col-sm-6 text-center request-priority" data-index="<%= request.request_priority.index %>">
          <%= priority_el request.request_priority, 'strong' %>
        </span>
      </p>

      <% if request.rescue_crew.present? %>
        <p>
          <strong>Assigned Crew:</strong>
          <span class="assigned-crew"><%= request.rescue_crew.callsign %> (<%= request.rescue_crew.contact_name %>)</span>
        </p>
      <% end %>

      <% if request.resources.any? %>
        <div class="request-resources mb-3">
          <strong>Resources:</strong><br/>
          <ol class="resources-list">
            <% request.resource_uses.each do |u| %>
                <li><strong><%= u.resource.name %></strong> (<%= u.resource.resource_type.name %>)</li>
            <% end %>
          </ol>
        </div>
      <% end %>

      <div class="request-buttons">
        <%= render 'buttons', request: request %>
      </div>

      <div class="mt-3">
        View:
        <a href="#" data-toggle="modal" data-target="#details-<%= request.id %>" class="request-details-link" data-tab="details">details</a> |
        <a href="#" data-toggle="modal" data-target="#details-<%= request.id %>" class="request-details-link" data-tab="medical">medical</a> |
        <a href="#" data-toggle="modal" data-target="#details-<%= request.id %>" class="request-details-link" data-tab="notes">notes</a>
      </div>
    </div>
  </div>
</div>

<%= render 'modals', request: request %>
