<article id="stage1">
  <p>Either <a href="#" id="use-my-location">use your current location</a>, input and select an address below, or click on the map.</p>
  <p><input id="autocomplete" size="50" placeholder="Enter your address" type="text" class="form-control"></p>
  <div id="map"></div>
</article>

<article id="stage2">
  <h2>Address</h2>
  <p>Based on the location you just selected, we found this address. Make sure this is correct, and then hit Continue.</p>

  <%= hidden_field_tag :request_id %>
  
  <%= label_tag :street_address, 'Street Address:' %><br/>
  <%= text_field_tag :street_address, '', class: 'form-control', id: 'street_address' %><br/>

  <%= label_tag :apt_no, 'Apartment Number:' %><br/>
  <%= text_field_tag :apt_no, '', class: 'form-control', id: 'apt-no' %><br/>

  <%= label_tag :city, 'City:' %><br/>
  <%= text_field_tag :city, '', class: 'form-control', id: 'city' %><br/>

  <%= label_tag :zip_code, 'Zip/Postal Code:' %><br/>
  <%= text_field_tag :zip_code, '', class: 'form-control', id: 'zip_code' %><br/>

  <%= label_tag :state, 'State:' %><br/>
  <%= text_field_tag :state, '', class: 'form-control', id: 'state' %><br/>

  <%= label_tag :country, 'Country:' %><br/>
  <%= text_field_tag :country, '', class: 'form-control', id: 'country' %><br/>
</article>

<script>
function moveToSecondStage(lat, long) {
  $.post(location.pathname, {"lat": lat, "long": long}, function(data) {
    $('input[name=request_id]').val(data['id']);
    requestAccessKey = data['key'];
  });
  $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long, function(data) {
    var a = data.results[0].address_components;
    var conv = {
      "route": "street_address",
      "street_number": "street_address",
      "locality": "city",
      "postal_code": "zip_code",
      "administrative_area_level_1": "state",
      "country": "country"
    };
    for (var i = 0; i < a.length; i++) {
      var component = a[i];
      var e = $("#"+conv[component.types[0]]);
      e.val(e.val() + (e.val() === '' ? '' : " ") + component.long_name);
      console.log(component);
      console.log(e);
    }
    $('article:not(#stage2)').hide();
    $('article#stage2').show();
  });
}

function firstStep() {
  $('article:not(#stage1)').hide();
  $('article#stage1').show();
}

var requestAccessKey = null;

$(document).ready(function() {
  $('article:not(#stage1)').hide();

  $('.js-form').submit(function() {
    var arrayData = $(this).serializeArray();
    var jsonData = {};
    arrayData.forEach(function (x) {
      jsonData[x['name']] = x['value'];
    });
    var valuesToSubmit = Object.assign(jsonData, { key: requestAccessKey });
    console.log('Submitting', valuesToSubmit);
    $.ajax({
        type: "POST",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).done(function(json){
        console.log("success", json);
        if (json.hasOwnProperty('location') && json['location']) {
          location.href = json['location'];
        }
        if (json.hasOwnProperty('key') && json['key']) {
          requestAccessKey = json['key'];
        }
    });
    return false; // prevents normal behaviour
  });

  var geoSuccess = function(position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    console.log('POST ', lat, long);
    moveToSecondStage(lat, long);
  };

  var locationTrigger = document.getElementById('use-my-location');
  if (locationTrigger) {
    locationTrigger.addEventListener('click', function(evt) {
      console.log('Location request (user-initiated)');
      evt.preventDefault();
      navigator.geolocation.getCurrentPosition(geoSuccess);
    });
  }
});

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: {lat: 29.5909775, lng: -93.9997136} // america
  });

  var input = document.getElementById('autocomplete');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace().geometry.location;
    var lat = place.lat();
    var long = place.lng();
    console.log('POST ', lat, long);
    moveToSecondStage(lat, long);
  });

  google.maps.event.addListener(map, 'click', function(event) {
    var lat = event.latLng.lat();
    var long = event.latLng.lng();
    console.log('POST ', lat, long);
    moveToSecondStage(lat, long);
  });
}
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Settings.maps_api_key}&libraries=places&callback=initMap", 'data-turbolinks-eval': 'false' %>
