<h1>Rescue Request for <%= @disaster.name %></h1>
<%= form_tag update_disaster_request_path(disaster_id: @disaster.id), class: 'js-form', method: :post do %>

  <%= render partial: "rescue_requests/location" %>
  <%= render partial: "rescue_requests/contact_info" %>
  <%= render partial: "rescue_requests/details" %>

  <%= submit_tag "Finish", class: 'btn btn-outline-success' %>
<% end %>
