
<h1>Rescue Request</h1>
<article id="stage0">
  <select onchange="firstStep()">
    <option selected>Please select a disaster</option>
    <% Disaster.all.each do |disaster| %>
    <option value="<%= disaster.id %>"><%= disaster.name %></option>
    <% end %>
  </select>
</article>

</article>
<article id="stage1">
  <h2>Location</h2>
  <p>We need a location to be able to respond to your request.</p>
  <p>Either <a href="#" id="use-my-location">use your current location</a>, input and select an address below, or click on the map.</p>
  <p><input id="autocomplete" size="50" placeholder="Enter your address" type="text"></p>
  <div id="map"></div>
</article>

<article id="stage2">
  <h2>Address</h2>
  <p>Based on the location you just selected, we found this address. Make sure this is correct, and then hit Continue.</p>

  <%= form_tag :request_update, remote: true, method: "POST", onsubmit: "longFields();" do %>
    <%= hidden_field_tag :person_id %>
    <%= hidden_field_tag :disaster_id %>
    
    <%= label_tag :street_address, "Street Address:" %>
    <%= text_field_tag :street_address %>

    <%= label_tag :apt_no, "Apartment Number:" %>
    <%= text_field_tag :apt_no %>

    <%= label_tag :city, "City:" %>
    <%= text_field_tag :city %>

    <%= label_tag :zip_code, "Zip Code:" %>
    <%= text_field_tag :zip_code %>

    <%= submit_tag "Continue" %>
  <% end %>
</article>

<article id="stage3">
  <h2>Details &amp; Contact</h2>
  <p>We now need details of the situation you're in, to allow us to correctly prioritize and respond to your request.</p>

  <%= form_tag :request_submit, method: "POST" do %>
    <%= hidden_field_tag :person_id %>
    <%= hidden_field_tag :disaster_id %>

    <%= label_tag :name, "Your name:" %>
    <%= text_field_tag :name %>

    <%= label_tag :people_count, "Number of people needing assistance" %>
    <%= text_field_tag :people_count %>

    <%= label_tag :twitter_handle, "Twitter handle:" %>
    <%= text_field_tag :twitter_handle %>

    <%= label_tag :medical_conditions, "Medical conditions:" %>
    <span class="field-description">If anyone in this group has any medical conditions, please provide details here.
      The more details, the better - what is it, what treatment/medication does it require, how much medication do you
      have available, etc. Please <strong>also include injuries or wounds here</strong>.</span>
    <%= text_field_tag :medical_conditions %>

    <%= label_tag :extra_details, "Extra details:" %>
    <%= text_field_tag :extra_details %>

    <%= submit_tag "Finish" %>
  <% end %>
</article>

<%= javascript_include_tag 'application', 'rescue_requests_raw.js' %>
<%= javascript_include_tag 'application', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBauLvncXCP92FuFzm-Jxc-nwnqqpPh-7c&libraries=places&callback=initMap' %>
