<h1>Need assistance?</h1>
<p>If you're in an emergency, you may be able to submit your details here to get some volunteer assistance on its way.</p>

<div class="card border-danger text-danger text-small mw-75 w-75 mb-4">
  <div class="card-body">
    <h5>Fair Warning</h5>
    <span>While the team of volunteers here will do their utmost to respond to you as quickly as possible, submitting your
    details here doesn't give you a guarantee of assistance. If you're in a dire emergency, you should also call your
    local emergency services.</span>
  </div>
</div>

<h1>Rescue Request for <%= @disaster.name %></h1>

<%= form_tag update_disaster_request_path(disaster_id: @disaster.id), class: 'js-form', method: :post do %>

  <h2>Location</h2>
  <p>We need a location to be able to respond to your request.</p>
  <%= render partial: "rescue_requests/location" %>

  <h2>Contact</h2>
  <p>We now need your contact information to contact you if we need to.</p>
  <%= render partial: "rescue_requests/contact_info" %>

  <h2>Details</h2>
  <p>We now need details of the situation you're in, to allow us to correctly prioritize and respond to your request.</p>
  <%= render partial: "rescue_requests/details" %>

  <%= submit_tag "Continue", class: 'btn btn-outline-success' %>
<% end %>
