<nav>
  <%= link_to 'Disaster Home', disaster_requests_path(@disaster) %>&nbsp;|&nbsp;
  <%= link_to 'Edit', suggest_edit_disaster_request_path(disaster_id: @disaster.id, num: @request.incident_number) %>
</nav>

<h1>
  Rescue Request for <%= @disaster.name %>
  <span class="small text-muted">#<%= @disaster.id %>-<%= @request.incident_number %></span>
</h1>

<p class="text-info">
  <strong>Current status:</strong> <%= @request.request_status&.name || '(no status)' %>
  <% if has_any_role? :developer, :admin, :triage %>
      <%= link_to '(change)', request_triage_status_path(disaster_id: @disaster.id, num: @request.incident_number) %>
  <% end %>
  <% if has_any_role? :developer, :admin, :rescue %>
      <%= link_to '(mark safe)', request_rescue_safe_path(disaster_id: @disaster.id, num: @request.incident_number), method: :post %>
  <% end %><br/>

  <strong>Assigned to: </strong> <%= @request.assignee&.username || '(nobody)' %>
    <%= link_to '(change)', change_request_assignee_path(disaster_id: @disaster.id, num: @request.incident_number) %>
</p>

<!-- This will be duplicated, when visually testing it will be cleaned up -->
<div class="statuses">
  <%= status_el @request.status, 'strong' %> |
  <%= priority_el @request.priority, 'strong' %>
</div>

<% if @request.rescue_crew.present? %>
  <h4 class="mt-3">Assigned Crew</h4>
  <%= render 'dispatch/rescue_crews/crew', crew: @request.rescue_crew %>
<% end %>

<p class="text-warning">
  <strong>Current medical status:</strong> <%= @request.medical_status&.name || '(no status)' %>
  <% if has_any_role? :developer, :admin, :medical %>
      <%= link_to '(change)', request_triage_status_path(disaster_id: @disaster.id, num: @request.incident_number) %>
  <% end %>
</p>

<% if @duplicates.count > 0 %>
<p><%= pluralize @duplicates.count, 'Duplicate' %>: <%= raw(@duplicates.map { |dupe| link_to "##{@disaster.id}-#{dupe.id}", disaster_request_path(disaster_id: @disaster.id, num: dupe.id) }.join(", ")) %></p>
<% end %>

<% if @duplicate_of %>
<p>Duplicate of: <%= link_to "##{@disaster.id}-#{@duplicate_of.id}", disaster_request_path(disaster_id: @disaster.id, num: @duplicate_of.id) %></p>
<% end %>

<div id="map" data-center="<%= @request.lat %>,<%= @request.long %>" data-marker-type="<%= @request.status.marker_type %>"></div>
<div class="map-coords"><%= @request.lat %>&deg; N, <%= @request.long %>&deg; E</div>

<%= render 'details_tables' %>

<br>

<h3>
  Timeline
  <span class="text-small"><%= link_to '+ Case Note', new_case_note_path(request_id: @request.id) %></span>
  <span class="text-small text-muted">|</span>
  <span class="text-small"><%= link_to '+ Contact Attempt', new_contact_attempt_path(request_id: @request.id) %></span>
</h3>
<% if @timeline.any? %>
  <% @timeline.each do |te| %>
    <% if te.class == CaseNote %>
      <%= render 'case_notes/case_note', case_note: te, rid: @request.id unless te.medical && !current_user.has_any_role?(:developer, :medical) %>
    <% elsif te.class == ContactAttempt %>
      <%= render 'contact_attempts/attempt', attempt: te, rid: @request.id %>
    <% elsif te.class == SuggestedEdit %>
      <%= render 'suggested_edits/edit', edit: te, rid: @request.id %>
    <% end %>
  <% end %>
<% else %>
  <p><em>No events yes.</em></p>
<% end %>

<% if has_any_role? :developer, :admin %>
  <%= link_to 'Admin: access logs', resource_access_logs_path(resource_type: @request.class.to_s, resource_id: @request.id), class: 'text-danger' %><br>
  <%= link_to 'Admin: manage authorizations', request_authorizations_path(disaster_id: @disaster.id, num: @request.id), class: 'text-danger' %>
<% end %>

<%= marker_paths %>
<%= maps_javascript 'initShowMap' %>
