<h3>Admin: User Permissions</h3>

<%= form_tag admin_roles_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :filter, params[:filter], class: 'form-control form-control-sm mx-2' %>
  <%= submit_tag 'Filter', class: 'btn btn-outline-primary btn-sm' %>
  <input type="reset" class="btn btn-outline-danger btn-sm" value="Cancel" />
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-muted">ID</th>
      <th>Username</th>
      <th>Roles</th>
      <% if current_user.has_role? :developer %>
      <th></th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td class="text-muted"><%= u.id %></td>
        <td><%= u.username %></td>
        <td><%= u.roles.map { |x| x.name.humanize.titleize }.to_sentence %></td>
        <% if current_user.has_role? :developer %>
        <td>
          <%= link_to "impersonate", change_user_path(id: u.id) %>
        </td>
        <% end %>
        <td>
          <%= form_tag admin_add_role_path, class: 'form-inline' do %>
            <%= hidden_field_tag :user_id, u.id %>
            <%= select_tag :role_name, options_for_select(@role_names.map { |x| [x.to_s.humanize.titleize, x] }), include_blank: true, class: 'form-control form-control-sm mx-2' %>
            <%= submit_tag 'Add', class: 'btn btn-outline-danger btn-sm' %>
          <% end %>
        </td>
        <td>
          <%= form_tag admin_remove_role_path, class: 'form-inline' do %>
            <%= hidden_field_tag :user_id, u.id %>
            <%= select_tag :role_name, options_for_select(@role_names.map { |x| [x.to_s.humanize.titleize, x] }), include_blank: true, class: 'form-control form-control-sm mx-2' %>
            <%= submit_tag 'Remove', class: 'btn btn-outline-danger btn-sm' %>
            <input type="reset" class="btn btn-danger" value="Cancel" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<% if current_user.has_any_role? :developer, :admin %>
<h3>Channel Leads</h3>
<p>Channel leads can't be added using the options above, because you also need to specify which channel they lead.</p>
<%= form_tag admin_lead_role_path do %>
  <div class="field">
    <%= label_tag :user_id, 'User' %><br/>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true, class: 'form-control select2' %>
  </div><br/>

  <div class="field">
    <%= label_tag :channel_id, 'Channel' %><br/>
    <%= select_tag :channel_id, options_from_collection_for_select(Channel.all, 'id', 'name'), include_blank: true, class: 'form-control select2' %>
  </div><br/>

  <div class="actions">
    <button type="submit" name="mode" value="add" class="btn btn-success">Add</button>
    <button type="submit" name="mode" value="remove" class="btn btn-danger">Remove</button>
  </div>
<% end %>
<% end %>
