<!DOCTYPE html>
<html>
  <head>
    <title>CrowdRescue</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'crowdlabs.ico' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/4cf802a098.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="<%= asset_path 'crowdlabs.png' %>" height="32" width="32" alt="CrowdLabs logo" />
        CrowdRescue
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if Disaster.count.to_i < 1 %>
          <li class="nav-item"><%= link_to 'disasters', disasters_path, class: 'nav-link' %></li>
          <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">disasters</a>
            <div class="dropdown-menu">
              <%= link_to 'home', disasters_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <% Disaster.all.each.with_index do |disaster, i| %>
              <%= link_to disaster.name, disaster_requests_path(disaster_id: disaster.id), class: 'dropdown-item' %>
              <% unless i == Disaster.count-1 %>
              <div class="dropdown-divider"></div>
              <% end %>
              <% end %>
            </div>
          </li>
          <% end %>

          <% unless user_signed_in? %>
            <li class="nav-item"><%= link_to 'broadcast scripts', broadcast_scripts_path, class: 'nav-link' %></li>
          <% end %>

          <% if user_signed_in? && current_user.has_any_role?(:broadcast, :miner, :admin, :developer) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">broadcast</a>
            <div class="dropdown-menu">
              <%= link_to 'home', broadcast_items_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'script generator', broadcast_script_setup_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% end %>

          <% if user_signed_in? && (current_user.has_any_role?(:developer, :admin, :medical) || current_user.roles.any? { |i| i.name == "channel_lead" }) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">tools</a>
            <div class="dropdown-menu">
              <% if user_signed_in? %>
                <% if current_user.has_any_role?(:developer, :admin) || current_user.roles.any? { |i| i.name == "channel_lead" } %>
                  <%= link_to 'manage roles', admin_roles_path, class: 'dropdown-item' %>
                <% end %>
                <% if current_user.has_any_role? :developer, :admin %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'manage request statuses', request_status_index_path, class: 'dropdown-item' %>
                <% end %>
                <% if current_user.has_role?(:developer) || (current_user.has_role?(:admin) && current_user.has_role?(:medical)) %>
                  <div class="dropdown-divider"></div>
                <% end %>
                <% if current_user.has_any_role? :developer, :medical %>
                  <%= link_to 'manage medical statuses', medical_status_index_path, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </li>
          <% end %>

          <% if user_signed_in? && current_user.has_any_role?(:developer, :triage, :admin, :medical) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">queues</a>
            <div class="dropdown-menu">
              <%= link_to 'dedupe queue', dedupe_queue_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'spam queue', spam_queue_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'suggested edit queue', suggested_edit_queue_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% end %>

          <% if user_signed_in? && current_user.has_any_role?(:developer, :admin) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">meta review</a>
            <div class="dropdown-menu">
              <%= link_to 'meta dedupe', review_dedupe_reviews_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'meta spam', review_spam_reviews_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'meta suggested edit', review_suggested_edit_reviews_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">translations</a>
              <div class="dropdown-menu">
                <%= link_to 'new request', new_translation_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'my requests', my_translation_requests_path, class: 'dropdown-item' %>
                <% if current_user.has_any_role? :translator, :admin, :developer %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'open requests', translations_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'assigned to me', my_assigned_translations_path, class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-right navbar-nav">
          <% if current_user %>
          <li class="nav-item"><%= link_to 'my account', edit_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'log out', destroy_user_session_path, method: "DELETE", class: 'nav-link' %></li>
          <% else %>
          <li class="nav-item"><%= link_to 'log in', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'sign up', new_user_registration_path, class: 'nav-link' %></li>
          <% end %>
          <li><%= link_to 'Help Me!', global_requests_path, class: 'btn btn-danger' %></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-10 mx-auto my-4 align-self-center">
      <% flash.each do |k, v| %>
        <div class="alert alert-<%= k == 'alert' ? 'danger' : (k == 'notice' ? 'info' : k) %>">
          <%= v %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
