<!DOCTYPE html>
<html>
  <head>
    <title>CrowdRescue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CrowdRescue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'home', root_path, class: 'nav-link' %>
        </ul>

        <ul class="navbar-right navbar-nav">
          <li><%= link_to 'Help Me!', global_requests_path, class: 'btn btn-danger' %></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-10 mx-auto my-4 align-self-center">
      <% flash.each do |k, v| %>
        <div class="alert alert-<%= k == 'alert' ? 'danger' : (k == 'notice' ? 'info' : k) %>">
          <%= v %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
