<!DOCTYPE html>
<html>
  <head>
    <title>CrowdRescue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CrowdRescue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'home', root_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">tools</a>
            <div class="dropdown-menu">
              <% if user_signed_in? %>
                <% if current_user.has_any_role? :developer, :triage, :queue %>
                  <%= link_to 'dedupe queue', dedupe_queue_path, class: 'dropdown-item' %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% if current_user.has_any_role? :developer, :admin %>
                  <%= link_to 'manage statuses', request_status_index_path, class: 'dropdown-item' %>
                <% end %>
                <% if current_user.has_any_role? :developer, :medical %>
                  <%= link_to 'manage medical statuses', medical_status_index_path, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>

        <ul class="navbar-right navbar-nav">
          <% if current_user %>
          <li class="nav-item"><%= link_to 'log out', destroy_user_session_path, method: "DELETE", class: 'nav-link' %></li>
          <% else %>
          <li class="nav-item"><%= link_to 'log in', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'sign up', new_user_registration_path, class: 'nav-link' %></li>
          <% end %>
          <li><%= link_to 'Help Me!', global_requests_path, class: 'btn btn-danger' %></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-10 mx-auto my-4 align-self-center">
      <% flash.each do |k, v| %>
        <div class="alert alert-<%= k == 'alert' ? 'danger' : (k == 'notice' ? 'info' : k) %>">
          <%= v %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
